
header {
  background-color: grey;
  top: 0;
  width: 100%;
}

footer {
  background-color: grey;
}

header:hover {
  background-color: black;
  color: white;
}

footer:hover{
  background-color: black;
  color: white;
}
