
html, body {
  margin: 0;
  height: 100%;
}

#root{
  height: 100%;
  background-color: white;
  text-align: center;
}

.root-div{
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: grey;
  top: 0;
  width: 100%;
}

footer {
  flex-shrink: 0;
  background-color: grey;
}

.projects{
  flex:auto;
  background-color: yellow;
}

header:hover {
  background-color: black;
  color: white;
}

footer:hover{
  background-color: black;
  color: white;
}
