
html {
  background-color: red;
}

body{
  background-color: blue;
}

#root{
  height: 100%;
  background-color: white;
  text-align: center;
}

header {
  background-color: grey;
}

footer {
  background-color: grey;
}

.projects{
  background-color: yellow;
}
